body {
	color: #efefef;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15 px #000000;
	background:  
			/*add background image*/
			url(https://images.unsplash.com/photo-1568983268695-74a04650c8b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
			background-size: cover;
			background-position: top;
			background-repeat: no-repeat;
} 

main{
	min-height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	display: flex;
	align-items: center;
	width: 75%;
	font-size: 20px;
}

.overview{
	padding: 3rem;
}

.fullname{
	font-weight: 500;
	letter-spacing: 3px;
	margin-bottom: .5rem;
}

.job-title{
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

hr{ 
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin:1.5rem 0; 
}


.description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
	font-weight: 350;
}

.works{
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2 {
	font-weight: 400;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

.works img {
	width: 60px;
	height: 60px;
	object-fit:cover;
}

.social-media a {
	color: #efefef;
	margin: 0.5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media a:hover {
	opacity:1.5;	
}


.ad{
	margin: .5rem;
	font-size: 1rem;
}

.image-container {
	width: 100%;
	padding: 3rem;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin:auto;
	display:block;
}

@media (max-width: 980px) {
	.container {
		flex-direction: column;
		font-size: 25px;
	}

	.image-container {
		width: 100px;
		padding: 0rem 5rem 0rem 0rem;
	}

	.overview {
		order: 1;
		padding: 3rem 0;
	}

	main {
		background: 
		url(https://images.unsplash.com/photo-1568983268695-74a04650c8b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;	
	}

	.fullname, .job-title {
		text-align: center;
	}

	.job-title {
		font-weight: bolder;
	}

	.description {
		text-align: justify;
	}

	hr {
		margin: auto;
	}

	.social-media {
		text-align: center;
		margin-top: 3rem;
	}

	.ad {
		text-align: center;
	}

	.works {
		text-align: center;
	}
}

